.cardTest{
    background-color:var(--bg-light);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1vh;
    transition: all 200ms ease-in-out;
}

.cardTest:hover{
    box-shadow: rgba(87, 187, 230, 0.25) 0px 54px 55px, rgba(87, 187, 230, 0.12) 0px -12px 30px, rgba(87, 187, 230, 0.12) 0px 4px 6px, rgba(87, 187, 230, 0.17) 0px 12px 13px, rgba(87, 187, 230, 0.09) 0px -3px 5px;
}